<script lang="ts" setup>
import { ref } from "vue";

const text = ref("SMILE");
const pic = ref("feeling_imgs/smile");
const feeling = ref([
  {
    id: 1,
    name: "Angry",
    img: "feeling_imgs/angry.png",
    active: false,
  },
  {
    id: 2,
    name: "Cute",
    img: "feeling_imgs/cute.png",
    active: false,
  },
  {
    id: 3,
    name: "Excited",
    img: "feeling_imgs/excited.png",
    active: false,
  },
  {
    id: 4,
    name: "Pain",
    img: "feeling_imgs/pain.png",
    active: false,
  },
  {
    id: 5,
    name: "Shocked",
    img: "feeling_imgs/shocked.png",
    active: false,
  },
  {
    id: 6,
    name: "Smile",
    img: "feeling_imgs/smile.png",
    active: false,
  },
]);

const Emo = (item: { name: string; img: string }) => {
  text.value = item.name;
  pic.value = item.img;
};

const ChangeColor = (item: { id: number; active: boolean }) => {
  refresh();
  if (item.active === true) {
    item.active = true;
  } else {
    item.active = !item.active;
  }
};

const refresh = () => {
  feeling.value.forEach((item) => (item.active = false));
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="mt-10">
        <v-img :src="pic" width="30vw" />
      </v-col>
      <v-col cols="6">
        <v-row>
          <v-col class="size-text">
            {{ text }}
          </v-col>
        </v-row>
        <v-row
          v-for="(item, index) of feeling"
          :key="index"
          class="justify-center mb-5"
        >
          <v-btn
            :class="{ color2: item.active, 'color-btn': !item.active }"
            width="30vw"
            height="5vh"
            @click="Emo(item), ChangeColor(item)"
            >{{ item.name }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.color-btn {
  background-color: white;
}

.color2 {
  background-color: yellow;
}
.size-text {
  font-size: larger;
  margin-left: 45%;
}
</style>
