<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const CounterStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ CounterStore.count }}</div>
  <br />
  <v-btn @click="CounterStore.increment">INCREMENT</v-btn>
</template>
