<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const CounterStore = useCounterStore();
</script>
<template>
  <div>Secound Component</div>
  <div>{{ CounterStore.doubleCount }}</div>
  <br />
  <v-btn @click="CounterStore.decrease">DECREASE</v-btn>
</template>
